@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

#home {
    padding: 0 40px;
    margin: 40px auto;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.title .img-L {
    background: url(../images/balloon.png)no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 80px;
}

.title .img-R {
    background: url(../images/balloon.png)no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    left: 80px;
}

.toptitle {
    line-height: 50px;
    font-size: 25px;
    color: #000;
    font-family: 微软雅黑;
    cursor: pointer;
    display: inline-block;
}

.text-section {
    width: 100%;
    text-align: center;
    /* box-shadow: 0px 0px 10px 0px #000; */
}

.text {
    display: none;
    /* border: 1px solid #000; */
}

.text p {
    font-size: 15px;
    font-family: 微软雅黑;
    font-weight: 500;
    text-align: left;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000;
    padding: 10px 20px;
}