@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    padding: 0 50px;
}

.toptitle {
    font-size: 25px;
    padding-top: 12px;
    color: #fff;
    font-family: 微软雅黑;
}

.text-section {
    width: 100%;
    background: #198752;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px #000;
}

.text p {
    font-size: 15px;
    font-family: 微软雅黑;
    font-weight: 500;
    text-align: left;
    text-indent: 2em;
    line-height: 1.5em;
    color: #f3f3f3;
    padding: 10px 20px;
}